{% extends "layout.html" %}

{% block title %}
Player Info
{% endblock %}

{% block body %}
<h1>DAS Player Info</h1>

<p>
    Choose a player to display a summary of their best results in DAS only tournaments. The ranking compares the player's performances in the given time frame to other DAS players in the same time frame. These rankings by default count the top 6 DAS results for players over the past 2 years. You may adjust these defaults with the forms below. 
</p>

<h2>Select Display Options</h2>
<form action="/dasplayerinfo" method="POST">
    <label for="player">Player name</label>
    <input list="dasplayers" id="player" name="player" required>
    <datalist id="dasplayers">
        {% for player in dasplayers %}
            <option value="{{ player }}">
        {% endfor %}
    </datalist>
    <!-- <input type="text" id="player" name="player" required> -->
    <br><br>

    <label for="num_top_performances">Number of Top Performances:</label>
    <input type="number" id="num_top_performances" name="num_top_performances" min="1" required><br><br>

    <label for="num_years">Number of Years:</label>
    <input type="number" id="num_years" name="num_years" min="1" max="10" required><br><br>

    <input type="submit" value="Submit">
</form>

<p>
    The summary below displays the top {{ num_performances }} (or less) performances for {{ player }} over the past {{ num_years }} years. 
</p>

<h2>Player Summary for {{ player }}</h2>
<p>Ranked {{ ranking }} overall. </p>
<p>Win-loss record: {{ wins }}-{{ losses }}</p>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Event</th>
                <th scope="col">Edition</th>
                <th scope="col">Points</th>
                <th scope="col">Result</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td scope="row">{{ row["Event"] }}</td>
                <td>{{ row["Edition"] }}</td>
                <td>{{ row["Event_Points"] }}</td>
                <td>{{ row["Event_Result"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





{% endblock %}