{% extends "layout.html" %}

{% block title %}
Player Info
{% endblock %}

{% block body %}
<h1>Player Info</h1>

<p>
    These rankings by default count the top 10 results for players over the past 2 years. You may adjust these defaults, as well as how many players are displayed, with the forms below. 
</p>
<h2>Select Display Options</h2>
<form action="/playerinfo" method="POST">
    <label for="player">Player name</label>
    <input list="eloplayers" id="player" name="player" required>
    <datalist id="eloplayers">
        {% for player in eloplayers %}
            <option value="{{ player }}">
        {% endfor %}
    </datalist>
    <!-- <input type="text" id="player" name="player" required> -->
    <br><br>

    <label for="num_top_performances">Number of Top Performances:</label>
    <input type="number" id="num_top_performances" name="num_top_performances" min="1" required><br><br>

    <label for="num_years">Number of Years:</label>
    <input type="number" id="num_years" name="num_years" min="1" required><br><br>

    <input type="submit" value="Submit">
</form>

<h2>Player Summary for {{ player }}</h2>
<p>Ranked {{ ranking }} overall. </p>
<p>Win-loss record: {{ wins }}-{{ losses }}</p>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Edition</th>
                    <th>Points</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row["Event"] }}</td>
                    <td>{{ row["Edition"] }}</td>
                    <td>{{ row["Event_Points"] }}</td>
                    <td>{{ row["Event_Result"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>





{% endblock %}