// Override default Bootstrap variables here
$primary: #e40c0c;  // Set primary color to a custom blue
$secondary: #6c2980;  // Set secondary color to a custom green
$margin: 16px;


.border {
    padding: $margin;
    margin: $margin;
  } 


  

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";